<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/style.css' %}">
</head>
<body>

<div class="header">
<h1><a href="{%url 'author:index' %}" text-decoration="none">.authAid</a></h1>
</div>
{% if request.user.is_authenticated %}
<p>Welcome {{request.user.username}}!</p>
<a href="{%url 'author:index' %}">Continue</a>
{%else%}
<h2><a href="{%url 'account:register' %}">SignUp</a> or <a href="{%url 'account:login' %}">LogIn</a></h2>
{% endif %}
<div class="generalBlurb">
    <p>.authAid is a platform designed to encourage and assist authors in planning out the stories they are -
        or will be - working on.</p>
    <p>It can be difficult to keep all the elements of a narrative tethered together in one's mind. .authAid
        seeks to assist in this effort, by providing an intuitive, flexible, framework for the creative mind.</p>
    <p>Whether you want to jot down the outline of a character, or construct an entire universe with multiple connected
        narratives, .authAid is positioned to assist.</p>
</div>
</body>
</html>