<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Details.</title>
</head>
<body>
{% extends "author/base.html" %}
{%block content%}
<h3>{{character.name}} {{character.surname}} </h3>
            <b>Age: </b>{{character.age}}<br>
            <b>Gender: </b>{{character.gender}}<br>
            <b>Motive:</b>{{character.motive}}<br>
            <b>Description:</b>{{character.description}}<br>
            <b>Notes:</b>{{character.notes}}<br>
            <b>World: </b>{{character.world}}<br>
<a href="{% url 'author:character_update' pk=character.pk %}">update</a>
<a href="{% url 'author:character_delete' pk=character.pk %}">delete</a>
{%endblock%}

</body>
</html>