<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/style.css' %}">
<h2>.Character</h2>
    {% if character_list %}
        {% for character in character_list %}
             <h3>{{character.name}} {{character.surname}} </h3>
            <b>Age: </b>{{character.age}}<br>
            <b>Gender: </b>{{character.gender}}<br>
            <b>Motive:</b>{{character.motive}}<br>
            <b>Description:</b>{{character.description}}<br>
            <b>Notes:</b>{{character.notes}}<br>
            <b>World: </b>{{character.world}}<br>



        {% endfor %}
    {% endif %}

</body>
</html>