<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character</title>
</head>
<body>
{% extends "author/base.html" %}
{%block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/nonbasestyle.css' %}">
<div class="sidebar">
    <h4><a href="{% url 'author:character_create'%}">+Create New</a> </h4>
    </div>
    {% if character_list %}
        {% for character in character_list %}
            <div class="sidebar">
                <h4><a href="{%url 'author:character_detail' character.pk%}" >{{character.name}} {{character.surname}}</a> </h4>
                <h6>(World: {{character.world}})</h6>
            </div>
        {% endfor %}
    {% endif %}
{%endblock%}
</body>
</html>