<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.authAid</title>
</head>
<body>


<h3>.authAid</h3>
<iframe src=" {%url 'author:world' %}" title="World" height="300" width="200" frameborder="0"></iframe>
<iframe src=" {%url 'author:narrativegeneralinfo' %}" title="NarrativeGeneralInfo" height="300" width="200" frameborder="0"></iframe>
<iframe src=" {%url 'author:chapter' %}" title="Chapter" height="300" width="200" frameborder="white"></iframe>
<iframe src=" {%url 'author:scene' %}" title="Scene" height="300" width="200" frameborder="white"></iframe>
<iframe src=" {%url 'author:character' %}" title="Character" height="300" width="200" frameborder="white"></iframe>
<iframe src=" {%url 'author:location' %}" title="Location" height="300" width="200" frameborder="white"></iframe>
</body>
</html>