<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.authAid</title>

</head>
<body>

{% extends "author/base.html" %}
{%block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/nonbasestyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'author/style.css' %}">

<div class="generalBlurb">
    <p>Please click one of the above options to begin. Then, click '+Create New' to include a new entry.
    </p>
    <p>'World' can loosely be interpreted as a project or folder, and is essentially the context within which a
        narrative takes place.</p>
    <P>'Narrative' is intended to encapsulate a single story, for example a single novel in a series of novels.</p>
    <p>The choice, however, is yours. authAid has been designed with flexibility at heart, and as such you may choose to
    use the system as desired.</p>
    <br>
    <small>Disclaimer: This is an application in the very early stages of development, currently being
        displayed as a demonstration. As such, it is not advisable to save anything here that you might actually
    want to keep!</small>

</div>
{%endblock%}

</body>
</html>