<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
</head>
<body>
{% extends "author/base.html" %}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'author/nonbasestyle.css' %}">
<div class="sidebar">
    <h4><a href="{% url 'author:location_create'%}">+Create New Location</a> </h4>
    </div>
{% if location_list %}
    {%for location in location_list%}
        <div class="sidebar">
            <h4><a href="{%url 'author:location_detail' location.pk%}" >{{location.name}}</a></h4>
        <h6>World: {{location.world}}</h6>
        </div>
    {%endfor%}
{%endif%}
{%endblock%}
</body>
</html>