<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Narrative General Information</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/style.css' %}">
<h2>.Narrative</h2>
    {% if ngi_list %}
        {% for ngi in ngi_list %}
<h3>{{ngi.title}}</h3> <b>Setting: </b>{{ngi.setting}}<br> <b>Description:</b>{{ngi.description}}<br>
<b>Genre: </b>{{ngi.genre}}<br><b>World:</b>{{ngi.world}}<br><b>Notes:</b> {{ngi.notes}}<br>
        {% endfor %}
    {%endif%}

</body>
</html>