<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scene</title>
</head>
<body>
{% extends "author/base.html" %}
{%block content%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'author/nonbasestyle.css' %}">
{%if scene_list%}
    {%for scene in scene_list%}
        <div class="sidebar">
        <h4><a href="{%url 'author:scene_detail' scene.pk%}">{{scene.description}}</a></h4>
        <h6>(Chapter: {{scene.chapter}})</h6>
        </div>

    {%endfor%}
{%endif%}
{%endblock%}
</body>
</html>