<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World</title>
 <style>
 .sidebar{overflow:auto; background-color:Azure; width:fit-content; padding: 3px;border-radius: 0px;margin:left;
 display:block;}
.sidebar a:link,a:visited {text-decoration: none; color:#2F4F4F;}
.sidebar a:hover {
  background-color: #ddd;
  color: black;}
</style>
</head>
<body>
{% extends "author/base.html" %}
{%block content%}
    <div class="sidebar">
    <h4><a href="{% url 'author:world_create'%}">+Create New</a> </h4>
    </div>
    {% if world_list %}
            {% for world in world_list %}
                <div class="sidebar">
                    <h4><a href= "{%url 'author:world_detail' world.id%}" >{{world.name}}</a> </h4>

                </div>
            {% endfor %}
    {% endif %}

{%endblock%}

</body>
</html>